@{
    ViewData["Title"] = "SignIn Page";
}
@model PartyPalaceSystem.Models.UserModel


<div class="form-group mt-5" style=" width:50%; margin:auto;">
    <h3 class="mb-5" style="text-align:center;">Login Page</h3>
    <div class="mt-4 mx-lg-4">
        <form >
            <div class="mb-4 ">
                <label class="form-label">Username</label><br />
                <input class="form-control" type="text" id="username" asp-for="Email" placeholder="Enter Username" />
            </div>

            <div class="mb-4 ">
                <label class="form-label">Password</label><br />
                <input class="form-control" type="password" id="password" asp-for="Password" placeholder="Enter Password" />
            </div>
            <div class="button form">
                <input class="btn btn-outline-success float-end" name="btnSubmit" id="btnSubmit" type="button" value="SignIn" />
            </div>
            <div><p>Not Registered?</p><a asp-controller="Account" asp-action="SignUp">SignUp</a></div>
        </form>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

<script>

    $(document).ready(function () {
        $("body").on('click', "#btnSubmit", function () {
            var Email = $("#username").val();
            var Password = $("#password").val();
            //validation
            if (Email === "" || Password === "") {
                $('#invalid').text("Input Fields can't be empty");
                $('#invalid').css("color", "red");
                return false;
            } else if (IsEmail(Email) === false) {
                var msg_email = $('#invalid_email').text("Entered username is not valid!!");
                $('#invalid_email').css("color", "red");

                return false;
            } else if (IsPassword(Password) === false) {
                var msg_password = $('#invalid_password').text("Entered password is not valid!!");
                $('#invalid_password').css("color", "red");

                return false;
            } else {
                return true;
            }

            function IsEmail(Email) {
                if (!Email.trim().includes('@@') || Email.trim().includes(',')) {
                    return false;
                }
                else {
                    return true;
                }
            }
            function IsPassword(Password) {
                if (Password.length < 8) {
                    return false;
                } else if (!/[A-Z]/.test(Password)) {
                    return false;
                } else if (!/[a-z]/.test(Password)) {
                    return false;
                } else if (!/\d/.test(Password)) {
                    return false;
                } else {
                    return true;
                }
            }

            $.ajax({
                url: "/Account/SignIn?username=" + Email + "&password=" + Password,
                method: "post"
            }).done(function () {
                alert('successful');
            }).fail(function () {
                alert('login failed');
            });
        });
    });
</script>