@{
    ViewData["Title"] = "SignIn Page";
}
@model PartyPalaceSystem.Models.UserModel


<div class="form-group mt-5" style=" width:50%; margin:auto;">
    <h3 class="mb-5" style="text-align:center;">Login Page</h3>
    <div class="mt-4 mx-lg-4">
        <form >
            <div class="mb-4 ">
                <label class="form-label">Username</label><br />
                <input class="form-control" type="text" id="username" asp-for="Email" placeholder="Enter Username" />
            </div>

            <div class="mb-4 ">
                <label class="form-label">Password</label><br />
                <input class="form-control" type="password" id="password" asp-for="Password" placeholder="Enter Password" />
            </div>
            <div class="button form">
                <input class="btn btn-outline-success float-end" name="btnSubmit" id="btnSubmit" type="button" value="SignIn" />
            </div>
            <div><p>Not Registered?</p><a asp-controller="Account" asp-action="SignUp">SignUp</a></div>
        </form>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("body").click("#btnSubmit", function () {
            var Email = $("#username").val();
            var Password = $("#password").val();
            $.ajax({
                url: "/Account/SignIn",
                method: "post"
            }).done(function () {
                $(this).addClass("done");
            });
        });
    });
</script>
